@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --color-primary: #ff991c;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}
body {
  font-family: "Poppins", sans-serif;
}
#body_container {
  display: grid;
  grid-template: 80px auto 80px / repeat(12, 1fr);
}

#header_container {
  /* background: #e3f1e1; */
  grid-column: 1 / -1;
}
#side_nav_container {
  background: #cfebf1;
  /* grid-column: 1 / 3; */
}
#core_container {
  background: #f1f2fc;
  grid-column: 1 / -1;
}
#footer_container {
  background: #fbf6eb;
  grid-column: 1 / -1;
}
/* ========= LOGO ========== */
.logo img {
  height: 80px;
  width: 80px;
}
.logo_text-Delicious {
  margin-bottom: -8px;
}
.logo_text-restaurent {
  color: var(--color-primary);
}
/* ========= END OF LOGO ========== */
/* ========= toggole bar ========== */
.navbar__toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  display: block;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background: #101010;
}
.navbar__toggle {
  position: absolute;
  left: 0;
  /* z-index: 10; */
}

/* =============== side nav bar ============= */

.sidebar-outbox {
  background: rgba(245, 245, 245, 0.832);
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: block;
  z-index: 10;
  display: none;
}

#side_nav_container {
  position: absolute;
  width: 250px;
  height: 90%;
  left: -250px;
  overflow-y: auto;
  transition: 0.6s ease;
  transition-property: left;
  background-color: rgb(252, 252, 252);
  box-shadow: 10px 0 16px -15px;
  z-index: 100;
}
#sidebar-cross-btn {
  font-size: 22px;
}
#side_nav_container.active {
  left: 0;
  z-index: 10;
}
.sidebar__heading {
  height: 50px;
  color: #000000;
  background: #e8f4f7;
  padding: 15px;
}
.sidebar__menu-items {
  /* z-index: 100; */
}
