:root {
  --menu_header-icons-tranform-deg: 45deg;
  --color-gray: #838390;
  --color-light: #fef7ee;
  --color-danger: hsl(0, 93%, 61%);
  --color-success: hsl(142, 40%, 45%);
}
body {
  background: #fefcfa;
  overflow-x: hidden;
}
* {
  /* border-radius: none; */
}
#core_container {
  /* background: #f7f8fb; */
  grid-column: 1 / -1;
}
/* delimiters */
.delimiter-horizontal {
  height: 1px;
  background: #c1c3cd;
  margin: 0 20%;
}
.delimiter-vertical {
  width: 1px;
  /* height: 200px; */
  /* vertical-align: middle;
    background-position: -14px -58px; */
  background: #c1c3cd;
}
.delimiter-double {
  border-bottom: 1px dotted black;
  border-top: 1px dotted black;
  height: 5px;
  /* width: 100%; */
  margin-top: 10px;
}
/* ========= toggole bar ========== */
.navbar__toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  display: block;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background: #101010;
}
.navbar__toggle {
  position: absolute;
  left: 0;
  /* z-index: 10; */
}

.sidebar_footer {
  /* position: relative;
  bottom: 0; */
}
/* =============== side nav bar ============= */

.sidebar-outbox {
  background: #ffffffcd;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: block;
  z-index: 10;
  display: none;
}

#side_nav_container {
  position: absolute;
  width: 250px;
  height: 90%;
  left: -255px;
  overflow-y: auto;
  transition: 0.6s ease;
  transition-property: left;
  background: #ffffff;
  box-shadow: 10px 10px 16px -15px var(--color-primary);
  z-index: 100;
}

#side_nav_container.active {
  left: 0;
  z-index: 10;
}
.sidebar__heading {
  /* background: var(--color-primary); */
  margin: 15px 25px;
}
#sidebar-cross-btn {
  /* background: #c1c3cd; */
  position: relative;
  left: 185px;
}
#sidebar-cross-btn i {
  font-size: 26px;
}
.sidebar_heading-logo {
  padding: 5px;
}
.sidebar_heading-logo img {
  width: 100%;
}
.sidebar_delimiter,
.parent_sidebar_delimiter {
  height: 1px;
  background: #c1c3cd;
}
.child_sidebar_delimiter {
  height: 1px;
  background: #e4e4e9;
}
.sidebar__menu-items {
  margin: 10px 20px;
  padding: 5px;
}
.parent:hover {
  /* background: #3857ca; */
}
.sidebar_menu-item {
  /* background: red; */
}
.parent,
.child {
  display: flex;
  justify-content: space-between;
  margin: 7px 0;
}
.childs {
  /* background: #f0f1f9; */
  margin: 2px;
  display: none;
}
.childs.active {
  display: block;
  /* background-color: rgb(255, 252, 249); */
  padding: 10px;
}
.childs h6 {
  font-size: 14px;
  color: #787777;
}
.parent.active {
  color: var(--color-primary);
}

.sidebar_square-icon {
  font-size: 11px;
  color: var(--color-primary);
  transform: rotate(45deg);
  margin-right: 15px;
  visibility: hidden;
}
.menu_header {
  display: flex;
}
.parent h6,
.child h6 {
  position: relative;
  left: -25px;
}

.chevron-down-icon {
  font-size: 14px;
  height: 20px;
}
.parent:hover h6,
.child:hover h6 {
  left: 0;
  transition: all 0.3s ease;
}
.parent:hover .sidebar_square-icon,
.child:hover .sidebar_square-icon {
  visibility: visible;
  transition: all 0.3s ease;
}

/* .sidebar_menu-item:hover .chevron-down-icon {
  transform: rotate(180deg);
} */

.child {
  /* background: #fdf1e7; */
  margin: 7px 0;
}

/* ================== Add to Cart ================== */
.cart-outbox {
  background: #ffffffcd;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: block;
  z-index: 10;
  display: none;
}
#cart_container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: var(--color-light);
  transform: rotate(45deg);
  top: -14px;
  right: 20px;
  z-index: -10;
}
#cart_container {
  position: absolute;
  width: 280px;
  height: 90%;
  top: 80px;
  right: -285px;
  /* left: -99999px; */
  /* overflow-y: auto; */
  transition: 0.6s ease;
  transition-property: right;
  background: #ffffff;
  box-shadow: -10px 10px 16px -15px var(--color-primary);
  z-index: 100;
}

#cart_container.active {
  z-index: 10;
  right: 0;
}
.add_to_cart-header_btn {
  position: absolute;
  right: 0;
  margin: 20px;
  padding: 5px;
}
.add_to_cart-header_btn i {
  font-size: 28px;
  color: var(--color-gray);
  /* margin: 5px auto; */
}
.added_items-count {
  background: var(--color-danger);
  color: #fff;
  font-size: 12px;
  width: fit-content;
  border-radius: 10px;
  padding: 2px 5px;
  position: absolute;
  top: -7px;
  right: -5px;
}

.cart_dish-img img {
  width: 70px;
}
/* ================= MENU ============ */
.menu_header-Square_icon {
  height: 10px;
}

.menu-tabs-header-items {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 50%;
  left: 25%;
}
.menu-tabs-header-text {
}
.menu-tabs-header-text.active {
  border-bottom: 3px double var(--color-primary);
}
.menu-tabs-header-icon {
  font-size: 11px;

  color: var(--color-primary);
  transform: rotate(var(--menu_header-icons-tranform-deg));
  -webkit-transform: rotate(var(--menu_header-icons-tranform-deg));
}
/* .menu-tabs .dish-block .dish-title::before {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    content: "";
    height: 6px;
    left: 0;
    margin-top: -3px;
    position: absolute;
  
    width: 100%;
  } */
.menu-body {
  display: grid;
  /* grid-template-rows: 1fr; */
  grid-template-columns: 5fr 1fr 5fr;
  justify-content: center;
  width: 80%;
  /* background: #c1c3cd; */
  /* width: 80%; */
  /* justify-content: center; */
}
.menu-left {
  margin-right: 20px;
}
.menu-right {
  margin-left: 20px;
}
/* ================= DISH ============ */
.dish_card {
  width: 70%;
  margin: 20px 0;
}

.dish-block {
}
.dish-title {
  display: flex;
  justify-content: space-between;
}
.dish-price {
  color: var(--color-primary);
}
.dish-img {
  width: 101px;
  height: 101px;
  overflow: hidden;
  /* margin: 0 auto; */
  /* background: #c1c3cd; */
  border-radius: 25px;
}
.dish-img img {
  width: 100px;
  height: 100px;
  transition: 0.4s all ease-in-out;
}
.dish-img:hover img {
  transform: scale(1.1);
}
.dish-body p {
  width: 350px;
}

.dish-tag {
  background: var(--color-primary);
  height: 22px;
  font-weight: 450;
  font-size: 12px;
  padding: 2px;
  margin-left: 5px;
}
#lunch-dishes {
  display: flex;

  justify-content: center;
}
#dinner-dishes {
  display: none;
  justify-content: center;
}
.dish-buttons {
  position: relative;
  margin: 5px;
  padding: 5px;
}
.serve_count {
  width: 70px;
  margin: 0 10px;
  padding: 5px;
  /* background-image: linear-gradient(#f9f9f9, #e7e9ec); */
  background: #f5f4f3;
  /* border-top-color: #64676f; */
  border-radius: 5px;
  border: 1px solid var(--color-primary);
}
.serve_count .count-minus {
  color: var(--color-danger);
  font-size: 14px;
  cursor: pointer;
}
.serve_count .count-plus {
  color: var(--color-success);
  font-size: 14px;
  cursor: pointer;
}
.serve_count .count-number {
  font-weight: 450;
}
.dish-btn {
  /* color: #fff; */
  font-size: 12px;
  font-weight: 500;
  padding: 5px;
  border: 1px solid var(--color-primary);
  /* background-image: linear-gradient(to bottom, #fee0bd, var(--color-primary)); */
  background: rgb(255, 247, 232);
  border-radius: 5px;
}
.dish-btn:hover {
  background: var(--color-primary);
}
.add_to_cart-menu_btn {
  position: relative;
  cursor: pointer;
  margin-left: 15px;
  margin-top: -3px;
  font-size: 20px;
  height: fit-content;
  /* color: var(--color-success); */
}

/* =============== Order Customization =================== */

.customize-order {
  background: rgb(255, 255, 255, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: center;
  display: grid;
  place-items: center;
  font-size: 0.9rem;
  /* popup hidden */
  display: none;
}

.customize-order .order-card {
  background: white;
  padding: 3rem;
  border-radius: 8px;
  width: 50%;
  box-shadow: 0 0 1rem var(--color-primary);
}

/* @media (max-width: 1000px) {
    #body_container {
      width: 70%;
    }
  } */

/* special dishes */
.sp_dish_container {
  display: flex;
  justify-content: center;
}
.special_dishes {
  width: 75%;
  padding: 30px;

  /* background: #c1c3cd; */
}
.sp_dish-block {
  width: 300px;
  background: var(--color-light);
  margin: 10px;
  border: 1px solid var(--color-primary);
  border-radius: 40px;
}
.sp_dish-img {
  width: 300px;
  height: 300px;
  overflow: hidden;
  /* margin: 0 auto; */
  /* background: #c1c3cd; */
  border-radius: 40px;
  display: flex;
  justify-content: center;
}
.sp_dish-img img {
  width: 300px;
  height: 300px;
  transition: 0.4s all ease-in-out;
}
.sp_dish-img:hover img {
  transform: scale(1.1);
}
.sp_dish-body {
  /* background: #c1c3cd; */
  border-radius: 25px;
  padding: 5px;
  margin: 5px;
}
.sp_dish-title {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}
.sp_dish-details {
  width: 235px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
.price {
  color: var(--color-primary);
}
.chefs_selection-dish-block {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 10px;
}
.chefs_card-body {
  margin-left: 50px;
  margin-top: 80px;
}

/* ===============confirm order =========== */
.confirm-order-outerbox {
  background: rgb(255, 255, 255, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: center;
  display: grid;
  place-items: center;
  font-size: 0.9rem;
  /* popup hidden */
  display: none;
}
.order-confirm {
  background: white;
  padding: 3rem;
  border-radius: 8px;
  width: 20%;
  box-shadow: 0 0 1rem var(--color-primary);
}

/* ======================== media queries  for small laptops and big tablets =======================  */

@media screen and (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }
  #core_container {
    /* width: 95%; */
  }
}
/* ================= Media Queries for small Tablets and Mobile Phones ============= */

@media screen and (max-width: 992px) {
  body {
    /* background: red; */
  }
  #core_container {
    width: 100%;
  }
  .menu-tabs-header-items {
    display: grid;
    text-align: center;
  }
  .menu-tabs-header-icon {
    display: none;
  }
  .special_dishes {
    width: 100%;
    padding: 0;
  }
  .sp_dish-block {
    /* width: 200px; */

    margin: 5px;
  }
  .chefs_selection-dish-block {
    display: grid;
    width: 250px;
    text-align: center;
  }
  .chefs_sel-img img {
    width: 250px !important;
    height: 250px;
  }
  .menu-body {
    width: 80%;
  }
  .delimiter-vertical {
    display: none;
  }
  .menu-left {
    grid-column: 1 / span 2;
    grid-row: 1;
    margin: 0;
  }
  .menu-right {
    grid-row: 2;
    margin: 0;
  }
  .dish_card {
    /* width: 250px; */
  }
  .dish-block {
    width: 350px;
  }
  .dish-body p {
    width: 250px;
  }
  .chefs_card-body {
    margin-left: 50px;
    margin-top: 10px;
  }
  #cart_container {
    display: none;
  }
  #cart_container.active {
    display: block;
  }
  .order-confirm {
    width: 200px;
  }
}
