:root {
  --menu_header-icons-tranform-deg: 45deg;
}
* {
  /* border-radius: none; */
}
#core_container {
  /* background: #f7f8fb; */
  grid-column: 1 / -1;
}
/* delimiters */
.delimiter-horizontal {
  height: 1px;
  background: #c1c3cd;
  margin: 0 20%;
}
.delimiter-vertical {
  width: 1px;
  /* height: 200px; */
  /* vertical-align: middle;
  background-position: -14px -58px; */
  background: #c1c3cd;
}
.delimiter-double {
  border-bottom: 1px dotted black;
  border-top: 1px dotted black;
  height: 5px;
  /* width: 100%; */
  margin-top: 10px;
}
/* ========= toggole bar ========== */
.navbar__toggle .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  display: block;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background: #101010;
}
.navbar__toggle {
  position: absolute;
  left: 0;
  /* z-index: 10; */
}

/* =============== side nav bar ============= */

.sidebar-outbox {
  background: #ffffffcd;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: block;
  z-index: 10;
  display: none;
}

#side_nav_container {
  position: absolute;
  width: 250px;
  height: 90%;
  left: -250px;
  overflow-y: auto;
  transition: 0.6s ease;
  transition-property: left;
  background: #ffffff;
  box-shadow: 10px 0 16px -15px;
  z-index: 100;
}
#sidebar-cross-btn i {
  /* background: #c1c3cd; */
  font-size: 24px;
  padding-bottom: 15px;
}
#side_nav_container.active {
  left: 0;
  z-index: 10;
}
.sidebar__heading {
  height: 50px;
  color: #000000;
  background: var(--color-primary);
  padding: 15px;
}
.sidebar__menu-items {
  /* z-index: 100; */
}

/* ================= MENU ============ */

.menu-tabs-header-items {
  position: relative;
  width: 50%;
  left: 25%;
}
.menu-tabs-header-text {
}
.menu-tabs-header-text.active {
  border-bottom: 3px double var(--color-primary);
}
.menu-tabs-header-icon {
  font-size: 11px;
  color: var(--color-primary);
  transform: rotate(var(--menu_header-icons-tranform-deg));
  -webkit-transform: rotate(var(--menu_header-icons-tranform-deg));
}
/* .menu-tabs .dish-block .dish-title::before {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  content: "";
  height: 6px;
  left: 0;
  margin-top: -3px;
  position: absolute;

  width: 100%;
} */
.menu-body {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 5fr 1fr 5fr;
  justify-content: center;
  width: 80%;
  /* background: #c1c3cd; */
  /* width: 80%; */
  /* justify-content: center; */
}
.menu-left {
  /* width: 80%; */
  /* text-align: center; */
  /* background: red; */
}
.menu-right {
  /* width: 80%; */
  /* text-align: center; */
  /* justify-content: center; */
  /* background: rebeccapurple; */
}
/* ================= DISH ============ */
.dish-block {
  /* background: red; */
  width: 80%;
  height: 30%;
  margin: 10px;
}
.dish-title {
  display: flex;
  justify-content: space-between;
}
.dish-price {
  color: var(--color-primary);
}

.dish-tag {
  background: var(--color-primary);
  height: 30px;
  font-weight: bold;
  padding: 5px;
  margin-left: 10px;
}

#dinner-dishes {
  display: none;
}
